
    .DonorText{
      display:'flex';
      flex-direction:'row';
      justify-content: flex-start;
    
    }
    .toggle{
      justify-content: 'flex-end';
    }
    .base{
      padding-left: 35px;
    }
