
    .root{
      margin-inline-start: 20px;
    }
    .DonorText{
      display:flex;
    }
    .statusTitle{
      color:grey;
      margin-right:70px;
    }
    .toggle{
     align-self:center;
    }
