
    .root{
     padding-inline-start: 10px
    }
    .DonorText{
      display:flex;
      
    }
    .statusTitle{
      color:grey;
      margin-right:70px;
    }
    .toggle{
     align-self:center;
    }
